    <div class="pager" *ngIf="totalItems > 0">
      <div class="pager-meta">
        <span>{{ startItem }}-{{ endItem }}</span>
        <span>of {{ totalItems }}</span>
      </div>

      <div class="pager-actions">
        <label>
          <span>Page size</span>
          <select [value]="pageSize" (change)="onPageSizeChange(($any($event.target)).value)">
            <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
          </select>
        </label>

        <button type="button" class="soft" (click)="prev()" [disabled]="page <= 1">Prev</button>
        <span class="pager-page">{{ page }} / {{ totalPages }}</span>
        <button type="button" class="soft" (click)="next()" [disabled]="page >= totalPages">Next</button>
      </div>
    </div>
  
